apiVersion: v1
kind: ServiceAccount
metadata:
  name: vault-sa
  namespace: "secrets"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: vault-secrets
  namespace: secrets
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - watch
      - create
      - list
      - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: vault-secrets
  namespace: secrets
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: vault-secrets
subjects:
  - kind: ServiceAccount
    name: vault-sa
    namespace: secrets
---
